@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --color-primary: #00FFB1;
    --color-primary-hover: #0EC28B;
    --color-white: #FCFCFC;
    --color-black: #1F1F1F;
    --color-black-medium: #222222;
    --color-grey: #2E2D2D;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-black-medium);
}

a,
i {
    transition: .5s;
    text-decoration: none;
    color: var(--color-primary);
}

a:hover {
    color: var(--color-primary-hover) !important;
}

span {
    font-weight: 650;
}

.bi {
    color: var(--color-white);
    font-size: 22px;
    margin: 0 6px;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    color: var(--color-primary);
}

h2 {
    font-size: 22px;
    font-weight: 600;
    color: var(--color-primary);
}

h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-white);
}

p {
    font-size: 15px;
    font-weight: 500;
    color: var(--color-white);
}

.color-primary {
    color: var(--color-primary);
}

/* navbar */

.navbar-brand {
    color: var(--color-primary);
}

/* header */

.header {
    background-color: var(--color-black);
    padding: 0 30px;
    padding-bottom: 20px;
}

.img-eu {
    width: 180px;
    margin: 40px 0 20px 0;
}

.img-and-text .title {
    text-align: center;
    margin: 20px 0 20px 0;
}

.img-and-text .sub-title {
    text-align: center;
    width: 1200px;
    margin: 20px 0 20px 0;
    line-height: 28px;
}

.veja-mais {
    display: flex;
    align-content: flex-end;
    margin: 40px 0 40px 0;
}

.arrow.bi {
    color: var(--color-primary);
    position: relative;
    top: 3px;
    padding: 0;
    margin: 0;
}

/*sobre mim*/

.about-me {
    padding: 0 30px;
}

.about-me .title {
    margin: 20px 0 20px 0;
}

.about-me .text {
    margin: 20px 0 20px 0;
}

.img-fluid.astronaut {
    width: 400px;
}

.stephen {
    padding: 0 25px;
    margin-bottom: 20px;
}

/* hobbies */

.hobbies {
    margin: 20px 0 20px 0;
    padding: 0 30px;
}

.hobbies-col.col-7 {
    padding: 30px 0;
}

.hobbies .title {
    margin: 20px 0;
}

.hobbies .hobbies-icons {
    margin: 40px 0;
}

.astro {
    text-align: center;
    padding-top: 20px;
}

.guitar {
    text-align: center;
    padding-top: 20px;
}

.book {
    text-align: center;
    padding-top: 11px;
}

.game {
    text-align: center;
    padding-top: 22px;
}

.f1 {
    text-align: center;
    padding-top: 12px;
}


/* habilidades & qualidades*/

.habilidades-qualidades {
    margin: 40px 0;
    padding: 0 30px;
}

.habilidades-qualidades .title {
    margin: 20px 0;
}

.habilidades-qualidades .text {
    margin: 20px 0;
}

.row.habilidades-qualidades {
    margin: 20px 0;
    padding: 0;
}

/* habilidades */

.habilidades .title {
    margin: 20px 0;
}

.habilidades-col.col-7 {
    padding: 30px 0;
}

.habilidades .title {
    margin: 20px 0;
}

.habilidades .habilidades-icons {
    margin: 20px 0;
}

.design {
    text-align: center;
    padding-top: 30px;
}

.wireframe {
    text-align: center;
    padding-top: 30px;
}

.front {
    text-align: center;
    padding-top: 30px;
}

.design {
    text-align: center;
    padding-top: 30px;
}

.wireframe {
    text-align: center;
    padding-top: 30px;
}

.front {
    text-align: center;
    padding-top: 30px;
}

/*qualidades*/

.qualidades .title {
    margin: 20px 0;

}

.col-12.col-md-5.qualidades {
    padding: 0;
}

.list-group.habilidades {
    margin: 40px 0 20px 0;
}

.list-group-item {
    background: none !important;
    border: none;
    color: var(--color-white);
    padding: 5px 30px 28px 20px;
    font-size: 18px;
    font-weight: 600;
}

/* Meus Projetos */

/* first col*/

.meus-projetos .first{
    margin: 20px 0;
    padding: 0 30px;
}

.meus-projetos .first .title{
    margin: 20px 0;
    padding: 0 30px;
}

.meus-projetos .first .text{
    margin: 20px 0;
    padding: 0 30px;
}

.meus-projetos .first .icons{
    margin: 20px 30px;
}

/* mini-card */

.col-mini-card{
    padding: 0 30px;
}

.mini-card{
    
}

hr.mini-card-line{
    border: 0;
	border-top: 1px solid var(--color-white);
}

.mini-card .left .img{
    height: 100px;
    width: 160px;
    background-color: var(--color-grey);
    border-radius: 10px;
    margin-right: 20px;
}

.mini-card .center .title {
    padding: 0 0 8px 0;
    margin: 0;
}

.mini-card .center .text {
    padding: 0;
    margin: 0;
}


.mini-card-link .bi {
    color: var(--color-primary);
    font-size: 26px;
    position: relative;
    top: 5px;
    margin: 10px 0;
}

/* destaques */

.destaques{
    margin: 20px 0;
    padding: 0 30px;
}

.destaques .div-title{
    margin: 40px 0;
    padding: 0 30px;
}

.card{
    border: 5px solid var(--color-grey);
    border-radius: 12px;
    margin: 0 0px;

}

.card-img-top{
    border-radius: 4px 4px 0 0;
}

.card-body{
    background-color: var(--color-grey);
}

.card-body .tags .tag{
    padding: 0 5px 0 0;
    opacity: 0.5;
}

.card-update{
    color: var(--color-white);
    opacity: 0.6;
}

.card-btns{
    margin: 10px 0;
    padding: 0;
}

.card-btns .btn{
    margin-right: 16px;
    color: var(--color-black);
    font-weight: 600;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.card-btns .btn:hover{
    color: var(--color-black) !important;
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
}